# Core dependencies
fastapi==0.95.1
uvicorn==0.22.0
websockets==11.0.2

# AI/ML dependencies
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
transformers==4.29.2
peft==0.4.0
datasets==2.12.0
bitsandbytes==0.45.1
trl==0.4.7
scipy==1.13.1

# Other dependencies
numpy==1.24.3
sqlalchemy==2.0.12
pydantic==1.10.7

# Testing
pytest==7.3.1
